body {
    font-family: Cabria, Georgia, "Times New Roman";
    margin: 0;
    width: 100%;
}
div#header div.title, div.item h3, div item h4, div pager A {
    font: bold 1em "Arrial Narrow", "Franklin Gothic Medium", Arial;
}
div#header a {
    color: #895025;
    text-decoration:none;
}
div#header div.title {
    font-size: 2em;
    padding: .3em;
}
div#header div.title a {
text-decoration: none;
}

/*loading во время загрузки изображений*/
.loading {
    background:url("images/loading.gif") no-repeat;
    position:relative;
    background-position:center;
}

.hideTable {
    position:relative;
    z-index:-1
}

/*clientBar*/

div#clientBar {
    background-color: #FDEFCE;
    border-top: 2px solid #F1D29C;
    border-bottom: 2px solid #F1D29C;
    padding: 0.3em;
}
div#clientBar #clientBarTable {
    width:100%;
}
#logout {
    width: 10%;
}

/*searchBar*/

div#searchBar {
    padding: 0.1em;
    border-bottom:solid 1px #F1D29C;
}

/*Стилизация Навегационного меню!*/

div#categories {
    float: left;
    width: 15%;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 10em;
    padding-top: 20px;
}
div#categories A {
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid #F1D29C;
}
div#categories A.selected {
     background-color: #FADF84;
     color: black;
}
div#categories A:hover {
    background-color: #FADF84;
}
div#categories A.selected:hover {
    background-color: #FADF84;
}
div.groupOfCategory {
    border: 1px solid #fff; 
}
div.groupOfCategory:hover {
    background-color:#f0f0ff;
    border: 1px solid #e7e7e7;
}
div.groupOfItems {
    cursor: pointer;
    padding-bottom:0px;
    color:#895025;
    }
div.itemOfCategory {
    padding-left:11px;
    padding-bottom:5px;
    padding-right:5px;
}

/*Content*/
div#content {

}

/*CreateEditPartialTable*/

div.editCreateLot h1{

}

.tableCreateEdit {
    margin-left:auto; 
    margin-right:auto;
    padding-top: 2em;
}

.editTextBox, .dateTimePicker {
    display: block;
    float: left;
    width: 250px;
}
#editDropDown {
    display: block;
    float: left;
    width: 254px;
}
#editTextArea {
    display: block;
    float: left;
    width: 248px;
}

div#content table caption {
    padding-top: 1em;
}

div.validation-summary-errors ul {
    list-style-type: none;
    text-align: center;
    color: red;
}

/*product*/
ul.product {
    padding:0.5em;
}
ul.product li {
    margin: 0.2em;
    border: 1px solid #865127;
    text-align:center;
    display: inline-block;
    vertical-align: top;
    width: 12em;
}
ul.product div#imageInMainPage {
    margin: 0.5em;
    padding: 0.5em;
}
ul.product h3 {
    margin: 0px;
}
ul.product h4 {
    border-top: 1px solid #865127;
    padding: 10px;
    background-color: #FDEFCE;
    margin: 0px;
}
ul.product h4 a {
    color: #895025;
    text-decoration: none;
}

/*ProductView*/

#tableView {
    margin-left:auto; 
    margin-right:auto;
    padding-top: 2em;
    width: 50%
}

.tdRight {
    text-align:right;
    color: #895025;
}
div.productView {
    width:90%;
}

div.productViewInfo {
    float:left;
    width:70%;
}

div.assignRate {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
    margin-top:20px;
    margin-bottom:10px;
    width: 14%;
    padding: 0.5em;
    font-size: 1.2em;
    border:1px solid #F1D29C;
}

div.assignRate > .rateField {
    width: 5%;
}
span#message_error {
    margin-right: 1em;
    float:right;
    width:15%;
    color:red;
}
/*Галлерея фото продукта*/

div#gallery span {
    display:block;
}

ul.gallery {
    display: block;
    text-align:center;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
ul.gallery li {
    display: block;
    float:left;
    padding: 0.2em;
}

div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}
div.item:after first-child {
    border-top: none;
    padding-top: 0;
}
div.item h3 {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}
div.item h4 {
    font-size: 1.1em;
      margin: 4em 0 0 0;
}

div.pager {
    text-align: right;
    border-top: 2px solid #F1D29C;
    padding: .5em 0 0 0;
    margin-top: 1em;
    width: 100%;
    clear: both;
}
div.pager A {
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}
div.pager A:hover {
    background-color: silver;
}

div.selected {
    background-color: #353535;
    color: white;
}

/*Стилизация кнопок*/

FORM {
    margin: 0;
    padding: 0;
}
DIV.item FORM {
    float: right;
}
DIV.item INPUT {
    color:White;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}
/*Стили для отображения корзины*/

h2 {
    margin-top: 0.3em;
}
tfoot td {
    border-top: 1px dotted gray;
    font-weight: bold;
}
.actionButtons a, INPUT.actionButtons {
    font: .8em Arial;
    color: white;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

/*Стили для виджета summary*/

DIV#cart {
    float: right;
    margin: .8em;
    color: silver;
    background-color: #555;
    padding: .5em .5em .5em .1em;
}
DIV#cart A {
    text-decoration: none;
    padding: .4em .1em .4em .1em;
    line-height: 2.1em;
    margin-left: .5em;
    background-color: #333;
    color: white;
    border: 1px solid black;
}


/*Отображение продуктов в ряд*/

#product-list {
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

div.footer {
    width: 100%;
    clear: both;
    text-align:center;
}

/*Edit*/
#btnEdit {
    float:right;
    padding-right:1em;
    margin-top:0px;
    clear:right;
}

div#DivBtnEdit {
    padding: 1em;
}

/*Membership*/
div#logOnField {
    width: 75%;
}