/*Превью фото в создании лота*/

.thumbnail
{
	width: 200px;
    height: 200px;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview
{
    position:relative;
    top:-190px;
    right:5px;
    background:black;
    color:white;
    border-radius:80px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before
{
    content: "×";
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
